[submodule "vendor/SDL"]
	path = vendor/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "tools/ninja"]
	path = tools/ninja
	url = https://github.com/jordonwu/ninja_binary.git
[submodule "tools/w64devkit"]
	path = tools/w64devkit
	url = https://github.com/jordonwu/w64devkit_binary.git
[submodule "tools/cmake"]
	path = tools/cmake
	url = https://github.com/jordonwu/cmake_binary.git
